body{
  font-family: helvetica;
  padding: 50px;
  width: 100vw;
  div.event{
    margin: 50px 0;
    a{
      display: block;
    }
    img{
      width: 300px;
    }
  }
}

.title{
  text-decoration: underline;
}
